section#about.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 À propos

            .block-ctner.grid-x.grid-padding-x
                h3 Axel Lavoie

                p Développeur web depuis 2 ans, spécialisé front-end depuis 1 an, j'ai réalisé plusieurs sites web et applications pour diverses entreprises et start-up telles que Renault Retail Group, Event bots, Arcade&co.
                p Je travaille principalement sous Javascript et NodeJs mais je m'ouvre à tous nouveaux langages ou techniques de développement. Enfin mes compétences comprennent aussi la gestion de projet et la relation client.
                
            .block-ctner.grid-x.grid-padding-x
                h3 Site web

                p Vous trouverez ici mes derniers projets et réalisations, compétences et moyen de contact. N'hésitez pas à visiter le site et à me contacter pour toute demande de projet ou devis.