section#slider
    .grid-x.grid-padding-x
        .large-12.cell

section#photos.grid-container
    .grid-x.grid-padding-x
        .large-12.cell
            h2 Photos
        
include ../blocks/contact/index.jade