section#slider
    .grid-x.grid-padding-x
        .large-12.cell

section#photos.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Photos

            .photos-ctner.block-ctner
        
include ../blocks/contact/index.jade