section#slider
    .slider-ctner

    .text-ctner
        h1 Axel Lavoie
        span.job Web developper

        .btns
            a.btn.btn-instagram(href="https://www.instagram.com/_achaak/")
                i(class="fab fa-instagram")
                span Instagram

            a.btn.btn-flickr(href="https://www.flickr.com/photos/182941056@N03/")
                i(class="fab fa-flickr")
                span Flickr

            a.btn.btn-linkedin(href="https://fr.linkedin.com/in/axellavoie")
                i(class="fab fa-linkedin-in")
                span Linkedin

section#albums.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Albums

            .albums-ctner.block-ctner

section#pictures.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Pictures

            .pictures-ctner.block-ctner
        
include ../blocks/contact/index.jade