nav#header
    .block-left
        ul.burger
            li
            li
            li

        h1
            a(href="/") Axel Lavoie

    ul.link
        each el in opts.navHeader.en
            li
                a(href="##{el.id}")=el.name

    ul.social
        li
            a(href="https://fr.linkedin.com/in/axellavoie" target="_blank")
                i(class="fab fa-linkedin")
        li
            a(href="https://github.com/Achaak" target="_blank")
                i(class="fab fa-github")
        li
            a(href="https://www.instagram.com/_achaak/" target="_blank")
                i(class="fab fa-instagram")
    