include ../../blocks/modal-repository/index.jade

section#repositories.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Repositories

            .repositories-ctner.block-ctner.grid-x.grid-padding-x