@import '../../../main/scss/colors';

footer {
    background-color: #1f1f1f;
    color: white;

    .footer-top {
        font-size: 0.8rem;
        background-color: #252a2c;
        display: flex;
        padding: 30px 100px;
        flex-wrap: wrap;

        @media screen and (max-width: 1023px) {
            padding: 30px;
        }

        .title {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 5%;
        }
        
        .contact {
            display: flex;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .footer-center {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding: 60px 100px;
        font-weight: bold;

        @media screen and (max-width: 1023px) {
            padding: 30px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        @media screen and (max-width: 1023px) {
            padding: 30px;
        }
    }

    .footer-bottom {
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;

        @media screen and (max-width: 1023px) {
            padding: 30px;
        }

        @media screen and (max-width: 599px) {
            flex-direction: column;

            .copyright, .social, .language {
                margin: 10px 0;
            }
        }

        .copyright {
            flex: 1;
        }

        .social {
            display: flex;
            flex: 2;
            justify-content: center;
            flex-wrap: wrap;

            li {
                list-style: none;
                margin: 0px 10px;
                font-size: 1.5rem;
                display: flex;
                align-items: center;

                a {
                    color: white;
                }
            }
        }

        .language {
            display: flex;
            align-items: center;
            cursor: pointer;
            flex: 1;
            justify-content: flex-end;

            .country {
                margin-right: 10px;
                text-transform: uppercase;
            }

            .flag {
                img {
                    height: 25px;
                }
            }
        }
    }
}