section#slider
    .slider-ctner

    .text-ctner
        h1 Axel Lavoie
        span.job Web developper

        .btns
            a.btn.btn-instagram(href="https://www.instagram.com/_achaak/")
                i(class="fab fa-instagram")
                span Instagram

            a.btn.btn-linkedin(href="https://fr.linkedin.com/in/axellavoie")
                i(class="fab fa-linkedin-in")
                span Linkedin

section#projects.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Projects

            .projects-ctner.block-ctner
        
include ../blocks/contact/index.jade