@import 'colors';

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 50px;
}

h2 {
    text-transform: uppercase;
    border-bottom: 1px solid $dark-grey;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: $dark-grey;
}

section.grid-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.block-ctner {
    background-color: #eff0f2;
    padding: 50px 70px;
}