footer
    .footer-top
        .title Me contacter pour plus d'information
        //Contact for more information
        .contact
            a(href="mailto:axel.lavoie@gmail.com") axel.lavoie@gmail.com
                    
    .footer-center
        a(href="/about") À propos
        a(href="/contact") Contact
        a(href="/cgv") CGV

    .footer-bottom 
        .copyright

        ul.social
            li
                a(href="https://fr.linkedin.com/in/axellavoie" target="_blank")
                    i(class="fab fa-linkedin")
            li
                a(href="https://github.com/Achaak" target="_blank")
                    i(class="fab fa-github")
            li
                a(href="https://www.malt.fr/profile/axellavoie" target="_blank")
                    i(class="icon-svg icon-malt")
            li
                a(href="https://www.instagram.com/_achaak/" target="_blank")
                    i(class="fab fa-instagram")
            //li
                a(href="https://www.flickr.com/photos/182941056@N03/" target="_blank")
                    i(class="fab fa-flickr")

        .language
            //.country English
            //.flag
                img(src="/ressources/images/flags/EN-en.png")