#modal-project.modal.hidden
    .modal-bg
        .modal-ctner
            .title
            .close ×

            .grid-container
                .grid-x.grid-padding-x
                    .small_description

                    .slider.large-12
                    
                    .large-12
                        .grid-x.grid-padding-x
                            .link.large-6
                            .github.large-6
                        
                    .large-12
                        .society
                        .society_website

                    .description.large-12
                    .languages.large-12