#modal-project.modal.hidden
    .modal-bg
        .modal-ctner
            h4
            .close ×

            .grid-container.infos
                .grid-x.grid-padding-x
                    .small_description

                    .slider.large-12
                    
                    .large-12
                        .grid-x
                            .link.large-6
                            .github.large-6
                        
                    .large-12
                        h5 Society
                        .society-ctner
                            .society
                            .society_website

                    .description.large-12
                        h5 Description
                        .description-ctner

                    .languages.large-12
                        h5 Languages
                        .languages-ctner