nav#burger-menu
    .link
        ul.close
            li
            li

        ul.link-important
            li Development
        
        ul.link-other
            li Photography
            li DIY

    .pictures