nav#burger-menu
    .link
        ul.close
            li
            li
        h1
            a(href="/") Axel Lavoie
                //img(src="/ressources/images/logo/logo.png")

        ul.link-important
            li(data-id="development")
                a(href="/") Développement

        .separator
        
        ul.link-other
            li(data-id="photography")
                a(href="/photography/all") Photographie
            li(data-id="infographics")
                a(href="/infographics/all") Infographie
            //li(data-id="diy")
            //    a(href="/DIY") DIY

    .pictures