nav#burger-menu
    .link
        ul.close
            li
            li

        ul.link-important
            li
             a(href="/") Development
        
        ul.link-other
            li
                a(href="/photography") Photography
            li
                a(href="/DIY") DIY

    .pictures