nav#header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 7px -3px black;
    padding: 0 50px;
    height: 50px;

    .block-left {
        display: flex;
        flex-grow: 1;

        ul.burger {
            cursor: pointer;
            
            li {
                background-color: black;
                height: 3px;
                width: 30px;
                margin: 5px 0;
                list-style: none;
            }
        }

        h1 {
            margin-left: 30px;
        }
    }

    ul.link {
        display: flex;
        justify-content: center;
        flex-grow: 2;

        li {
            list-style: none;
            text-transform: uppercase;
            margin: 0px 15px;
            font-family: 'Roboto-Medium', sans-serif;
        }
    }

    ul.social {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;

        li {
            margin-left: 10px;

            list-style: none;
        }
    }
}