@import '../../../main/scss/colors';

nav#header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 7px -3px black;
    padding: 0 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;

    .block-left {
        display: flex;
        align-items: center;
        flex: 1;

        ul.burger {
            cursor: pointer;
            height: 30px;
            width: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                li {
                    margin: 2px 0;
                }
            }
            
            li {
                background-color: #171717;
                height: 3px;
                width: 100%;
                margin: 3px 0;
                list-style: none;
                transition: margin 100ms;
            }
        }

        h1 {
            margin: 0;
            margin-left: 30px;

            a{
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                color: $dark-grey;
                font-size: 1.6rem;
            }
        }
    }

    ul.link {
        display: flex;
        justify-content: center;
        flex: 2;

        li {
            list-style: none;
            text-transform: uppercase;
            margin: 0px 5px;
            border-bottom: 3px solid transparent;
            transition: border-bottom 300ms;
            padding: 12px 10px;

            &.visible {
                border-bottom-width: 3px;
                border-bottom-style: solid;
                border-bottom-color: $red;
            }
            
            a {
                font-family: 'Roboto-Medium', sans-serif;
                text-decoration: none;
                color: $dark-grey;
                font-size: 0.9rem;
            }
        }
    }

    ul.social {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        li {
            margin-left: 15px;

            list-style: none;

            i {
                color: $dark-grey;
                font-size: 1.2rem;
            }
        }
    }
}