section#projects.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 CONDITION GÉNÉRALES DE VENTE

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 1 - RELATIONS CONTRACTUELLES
                p Aucun contact téléphonique, ni rendez-vous, ne vaut engagement ; les demandes de réalisation de produits doivent être présentées par le client au prestataire par email ou courrier. Les obligations entre les parties naissent de la signature d’un bon de commande émis par le client ou du retour daté et signé du devis et /ou la facture que le prestataire aura transmis au client accompagné de son premier acompte. Le prestataire ne débutera aucun développement avant la réception de ces documents ; cette disposition est un élément essentiel du contrat

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 2 - DÉCOUPAGE ET ÉTALEMENT DES PAIEMENTS
                p Le paiement s'effectuera dans les conditions indiquées sur le bon de commande signé. Si aucune conditions n’est indiquée, alors le paiement de la prestation par le client devra s'effectuer dans les 30 jours qui suivent la date du bon de commande signé.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 3 - PÉNALITÉS DE RETARD DE PAIEMENT
                p Tout règlement effectué après expiration du délai donnera lieu, à titre de pénalité de retard, à l'application d'un intérêt égal à celui appliqué par la Banque Centrale Européenne à son opération de refinancement la plus récente, majoré de 10 points de pourcentage, ainsi qu'à une indemnité forfaitaire pour frais de recouvrement d'un montant de 40 Euros.
                p Les pénalités de retard sont exigibles sans qu'un rappel soit nécessaire.
                p En cas de non paiement, l’ensemble des frais de recouvrement seront à la charge du client. Si nécessaire, le prestataire pourra faire appel aux services d’une société d’affacturage pour le recouvrement de ses créances clients.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 4 - Bien définir les garanties
                p Après validation du projet par le client, aucune erreur de conception ne pourra être reproché au prestataire.
                p Une mauvaise utilisation ou négligence du client (ex : sécurisation hasardeuse, transmission d’identifiants à des tiers…), un problème indépendant du client et du prestataire (ex : CMS défectueux…) ou une intervention d’un autre prestataire (ex : un tiers qui modifie le code en même temps que le prestataire) ne pourra en aucun cas entraîner une responsabilité du prestataire

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 5 - TRAITEMENT ET ENVOI DES FICHIERS PAR LE CLIENT
                p L’ensemble des fichiers client (textes, polices et images, même issus de tiers, en libres de droits, structure et / ou modèle de données) doivent être transmis au prestataire avant le début du développement. Les textes sont à fournir sous format électronique et typographié sans fautes d’orthographe. Axel Lavoie ne peut en aucun cas être tenu pour responsable des fautes d’orthographe présentes dans les textes fournis par le client.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 6 - MODIFICATION DE LA DEMANDE INITIALE PAR LE CLIENT
                p Tout nouveau développement à réaliser fera l’objet d’un nouveau devis. Si les modifications ou reprises des développements prévus dans votre devis engendrent une intervention : dont la durée est manifestement excessive par rapport au délai normalement nécessaire pour le développement, dont la nature tend à modifier de manière significative les développements proposés dans le devis, nécessite le traitement des sources afin de les rendre exploitables pour réaliser le développement ou le paramétrage du développement (notamment pour l’insertion de données dans une base de données), une facturation journalière, sur la base de 400,00 euros / jour, sera établie.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 7 – MODIFICATION DU DÉLAI
                p Les modifications significatives, reprises de développement, retard dans la prise de décision ou livraison tardive de documents par le client et nécessaires au développement, repoussent d’autant le délai de livraison établi entre les parties.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 8 - CESSION DES DROITS
                p La cession des droits d’utilisation et de modification des développements réalisés par le prestataire s’effectue à complet encaissement des montants facturés sauf dispositions contraires mentionnées sur le devis, le bon de commande ou la facture. Cette cession sera détaillée et précisée au cas par cas sur chaque devis et/ou facture en fonction de ce qui aura été défini par les deux parties. Sauf mention contraire précisée sur chaque devis et/ou facture, le règlement complet de la facture n’entraînent que la cession des droits d’utilisation et de modification et en aucun cas le droit de diffusion du développement.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 9 - DUREE DE MAINTENANCE CORRECTIVE
                p Après réalisation de la prestation, une durée de 1 mois de maintenance corrective est disponible. Cette maintenance corrective correspond à des ajustements, modifications, correctifs n'entraînant pas une intervention excessive de la part du prestataire.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 10 - CONDITIONS DE RÈGLEMENT
                p Les développements doivent être réglés au prestataire aux dates mentionnées sur le devis et/ou la facture client. Le client s’engage à respecter des dates de paiement ; cette disposition est aussi un élément essentiel du contrat.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 11 - LA FORCE MAJEURE
                p Les parties ne peuvent être considérées comme responsables ou ayant faillis à leurs obligations contractuelles, lorsque le défaut d’exécution des obligations respectives a pour origine la force majeure; le contrat entre les parties est suspendu jusqu’à l’extinction des causes ayant engendrées la force majeure. La force majeure prend en compte des faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles et indépendants de la volonté des parties, malgré tous les efforts raisonnablement possibles pour les empêcher. Sont aussi considérés comme cas de force majeure, le blocage des moyens de transport ou d’approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre, l’arrêt des réseaux de télécommunication, et notamment tous les réseaux accessibles par internet, ou difficultés propres aux réseaux de télécommunications extérieures aux parties. La partie touchée par la force majeure en avisera l’autre dans les 5 jours ouvrables suivants la date à laquelle elle en aura eu connaissance. Les deux parties conviendront alors des conditions dans lesquelles l’exécution du contrat sera poursuivie.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 12 - PROMOTION DES CRÉATIONS
                p Sauf dispositions contraires écrites, le prestataire pourra diffuser toutes créations réalisées, soit pour le client, soit pour un tiers pour lequel intervient le client, à des fins de « présentation de créations » sur tous types de supports sans limitation de durée.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 13 - LES CONDITIONS GÉNÉRALES DE VENTE
                p Le prestataire peut modifier, ajouter ou retrancher des dispositions à ces conditions générales de vente sans préavis et sans avoir à en aviser ses clients ou des tiers préalablement.

            .block-ctner.grid-x.grid-padding-x
                h3 ARTICLE 14 - RÈGLEMENT DES LITIGES
                p Le contrat est soumis au droit Français. En cas de litiges, les parties s’engagent à tout faire pour régler leurs différends à l’amiable. Au cas où une résolution amiable ne pourrait aboutir, la juridiction compétente est celle de ROUEN.
