section#slider
    .grid-x.grid-padding-x
        .large-12.cell

section#skills.grid-container
    .grid-x.grid-padding-x
        .large-12.cell
            h2 Skills

section#projects.grid-container
    .grid-x.grid-padding-x
        .large-12.cell
            h2 Projects