include ../blocks/modal-project/index.jade

section#slider
    .slider-ctner

    .text-ctner
        h1 Axel Lavoie
        span.job Développeur web

        .btns
            a.btn.btn-github(href="https://github.com/Achaak")
                i(class="fab fa-github")
                span Github

            a.btn.btn-linkedin(href="https://fr.linkedin.com/in/axellavoie")
                i(class="fab fa-linkedin-in")
                span Linkedin

            a.btn.btn-malt(href="https://www.malt.fr/profile/axellavoie")
                i(class="icon-svg icon-malt")
                span Malt

section#projects.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Projets

            .projects-ctner.block-ctner.grid-x.grid-padding-x

section#repositories.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Dépôts

            .repositories-ctner.block-ctner.grid-x.grid-padding-x

section#skills.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Compétences

            .skills-ctner.block-ctner.close
                .unwinder Et plus
        
include ../blocks/contact/index.jade