section#slider
    .grid-x.grid-padding-x
        .large-12.cell

section#skills.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Skills

            .skills-ctner.block-ctner.close
                .unwinder More

section#projects.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Projects

            .projects-ctner.block-ctner

section#components.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Components

            .components-ctner.block-ctner
        
include ../blocks/contact/index.jade