section#contact.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Contact

            .contact-ctner.block-ctner
                form#contact-form
                    .input-ctner
                        input(type="text" id="contact-name" required)
                        label.input-title(for="contact-name") Votre nom/entreprise

                    .input-ctner
                        input(type="email" id="contact-email" required)
                        label.input-title(for="contact-email") Votre mail

                    textarea(id="contact-text" required)
                    
                    button(type="submit" id="contact-submit" form="contact-form") Envoyer