section#slider
    .slider-ctner

    .text-ctner
        h1 Axel Lavoie
        span.job Développeur web

        .btns
            a.btn.btn-instagram(href="https://www.instagram.com/_achaak/")
                i(class="fab fa-instagram")
                span Instagram

            a.btn.btn-linkedin(href="https://fr.linkedin.com/in/axellavoie")
                i(class="fab fa-linkedin-in")
                span Linkedin


#modal-picture-viewer.modal.hidden
    .modal-bg
        .modal-ctner
            .close ×
            
            .left
                .line
                .line

            .picture

            .right
                .line
                .line            

section#albums.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Albums

            .albums-ctner.block-ctner

section#pictures.grid-container.full
    .grid-x.grid-padding-x
        .large-10.large-offset-1.cell
            h2 Visuels

            .pictures-ctner.block-ctner


include ../blocks/contact/index.jade